  <div class="container d-flex justify-content-center">
    <div class="row col-6 m-5">
      <%= simple_form_for([@list, @bookmark]) do |f| %>
        <%= f.association :movie %>
        <%= f.input :comment %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
